<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <script>
        $(document).ready(function () {
          $(".ui.dropdown").dropdown();
          $('.message .close').on('click', function() {
              $(this)
                .closest('.message')
                .transition('fade');
            });
          scroll_bottom();
          submit_message();
        });
        submit_message = function() {
          $('#message_body').on('keydown', function(e) {
            if (e.keyCode == 13) {
              $('button').click();
              e.target.value = "";
            }
          })
        }
        scroll_bottom = function() {
          if ($('#messages').length > 0) {
            $('#messages').scrollTop($('#messages')[0].scrollHeight);
          }
        }
    </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class = "ui container" >
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
